<!-- {{>breadcrumb}}-->
		
	<div class="grid-row">
		 
        <h2 class="heading-large">{{jobtitle}} 
          <span class="heading-secondary">Job Reference: {{jobref}}</span>
        </h2>
	    
        <div class="example">
        
          <form class="form" method="POST" action="/index">
            
            <div class="form-search">
              
              <label class="form-label" for="search"></label>        
              <input class="form-control" name="search" id="/search" type="text" placeholder="Please type in your search criteria">
              
              <button class="button" type="submit">Search</button>
              
            </div>
          
          </form>
        
        
        </div>
	
  <table class="table-customer-search table-font-xsmall">
   
    <caption class="visuallyhidden">Customer search listing</caption>
   
    <thead>
      <tr>
        <th scope="col">Candidate No.</th>
        <th scope="col">Name</th>
        <th scope="col">Application Date</th>
      </tr>
    </thead>
    
    <tbody>
      {{#each applicants}}
      <tr>
        <td>{{number}}</td>
        <td><a href="/index/{{number}}">{{firstname}} {{lastname}}</span></a></td>
        <td>{{date}}</td>
      </tr>
      {{else}}
       <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            Please specify your search criteria and try again!
          </strong>
      </div>
    {{/each}}
    </tbody>
   
  </table>
  <div class="pager">
    <div class="pager-controls">
      <ul class="pager-items">
        {{#each pages }}
           <li><a href="{{this.link}}">{{this.number}}</a></li>
        {{/each}}      
      </ul>
      <a class="pager-next" href="{{Next.link}}">{{Next.number}}</a>
    </div>
    <div class="pager-summary"> {{#if pages }} Showing Page:{{page}} {{pageStart}}&ndash;{{pageEnd}}  of {{total}} results {{/if}}</div>
</div>