<!-- {{>breadcrumb}}-->
		
	<div class="grid-row">
		 
  <h2 class="heading-medium">{{jobtitle}} 
    <p class="heading-secondary">Job Reference: {{jobref}}</p>
  </h2>
	    
	
  <table class="table-customer-search table-font-xsmall">
   
    <caption class="visuallyhidden">Customer search listing</caption>
   
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Application Date</th>
      </tr>
    </thead>
    
    <tbody>
      {{#each applicants}}
      <tr>
        <td><a href="/index/{{number}}">{{firstname}} {{lastname}}</span></a></td>
        <td>{{date}}</td>
      </tr>
      {{else}}
       <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            Please specify your search criteria and try again!
          </strong>
      </div>
    {{/each}}
    </tbody>
   
  </table>
  <div class="pager">
    <div class="pager-controls">
      <ul class="pager-items">
        {{#each pages }}
           <li><a href="{{this.link}}">{{this.number}}</a></li>
        {{/each}}      
      </ul>
      <a class="pager-next" href="{{Next.link}}">{{Next.number}}</a>
    </div>
    <div class="pager-summary"> {{#if pages }} Showing Page:{{page}} {{pageStart}}&ndash;{{pageEnd}}  of {{total}} results {{/if}}</div>
</div>