 <!-- {{>breadcrumb}}-->
		
	<div class="grid-row">
		 
        <h2 class="heading-large">{{jobtitle}} 
          <span class="heading-secondary">Job Reference: {{jobref}}</span>
        </h2>
	      <h2 class="heading-large">Search
          <span class="heading-secondary">You can find a candidate by number or search for multiple results by typing a sequence of part of their firstname lastname in any order</span>
        </h2>
        <div class="example">
        
          <form class="form" method="POST" action="/search">
            
            <div class="form-search">
              
              <label class="form-label" for="search"></label>        
              <input class="form-control" name="search" id="/search" type="text">
              
              <button class="button" type="submit">Search</button>
              
            </div>
          
          </form>
        
        
        </div>
	
	
	  <p class="lede"></p>

  <table class="table-customer-search">
   
    <caption class="visuallyhidden">Customer search listing</caption>
   
    <thead>
      <tr>
        <th scope="col">Candidate No.</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Application Date</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    
    <tbody>
      {{#each applicants}}
      <tr>
        <td>{{number}}</td>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{date}}</td>
        <td><a href="/index/{{number}}">View<span class="visuallyhidden">Details</span></a></td>
      </tr>
      {{else}}
       <div class="notice">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            Please specify your search criteria and try again!
          </strong>
      </div>
    {{/each}}
    </tbody>
   
  </table>
  <div class="pager">
    <div class="pager-controls">
      <ul class="pager-items">
        {{#each pages }}
           <li><a href="{{this.link}}">{{this.number}}</a></li>
        {{/each}}      
      </ul>
      <a class="pager-next" href="{{Next.link}}">{{Next.number}}</a>
    </div>
    <div class="pager-summary"> {{#if pages }} Showing {{page}} &ndash; {{num}} of {{total}} results {{/if}}</div>
  </div>